$dark-blue: #2b3a4d;
$medium-blue: #3c4d63;
$light-blue: #838f9d;
$yellow: #ffc875;
$red: #f3595b;
$aqua: #318292;
$white: #e3e3e3;

$primary-color-1: $dark-blue;
$primary-color-2: $yellow;
$primary-color-3: $red;
$primary-color-4: $aqua;

$secondary-color-1: $medium-blue;
$secondary-color-2: $light-blue;

$primary-font-color:$white;